@charset "utf-8";
/* CSS Document */
body{
	background-size: auto; color: coral;
	
}
#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px #000000;
	margin: auto;
}
header{
width:  900px;
	height: 100px;
	;
	
}
.titulo{
	font-size: 30px;
	
}
.subtitulo{
	margin-top: -20px;
}
#logo{
	width: 200px;
	height: 100px;
	float: left;
	
	
}
#logo img{
float: right;
}
#titulo{
font-size: 30px;
	
}
.menu{
	width: 600px;
	height:  40px;
	float: right;
	margin-top: 40px;
	
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	
	text-decoration: none;
		padding: 10px 15px;
	border: 0px solid #ccc;
	color: aqua
}
.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width:400%;
	animation: cambio 20s infinite alternate linear;
	
	
}
.slider li{
	list-style: none;
	width: 100%;
}
.slider img {
	width: 100%;
}
#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 10px;
	
}

.uno{
	width: 290px;
	height: 400px;
	border: 1px solid #0EFFCE;
	float: left;
	text-align: center;
}
.dos{
	margin-left: 10px;
	margin-right: 10px;
	
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	color: aqua;
	padding: 10px 20px 10px 20px;
	margin: 10px;
}

.leer-mas:hover	{
	
	background: #FDFC07;
	color:#000000;
	transition: background 1s, color 1s;
}

#info{
	width: 895px;
	height: auto; overflow: hidden;
	border: 0px solid #F90307;
	margin-top: 10px;
	float: none;
	
	
}

#video{
	width: 420px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
float: none;
}
#Menu2{
	width: 350px;
		height: auto; overflow: hidden;
	
}
 
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
	
	
}


 